Semana 9 - Reto Calidad del agua

Lázaro Lara Martínez. Matricula A01793198
José Mtanous Treviño. Matricula A00169781

Ciencia y Analítica de datos.

Profesor Titular. Jobish Vallikavungal Devassia
Profesor Tutor. Mtro. Mario Alberto Solano Saldaña

09/Noviembre\/2022

In [123]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

In [124]:
# cargamos nuestro dataset y lo inspeccionamos rapídamente
path_escalas_subterranea = '../Reto/datos/Escalas_subterranea.csv'
path_calidad_subterranea = '../Reto/datos/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_subterraneas_2020.csv'

dfEscalasSubterranea = pd.read_csv(path_escalas_subterranea)
dfCalidadSubterranea = pd.read_csv(path_calidad_subterranea)

In [125]:
dfEscalasSubterranea.head()

,CALIDAD DEL AGUA PARA COLIFORMES FECALES_subterraneas,CRITERIO,DESCRIPCION
0,Excelente,COLI_FEC menor a 1.1,Agua potable. Agua no contaminada o condicion ...
1,Buena calidad,COLI_FEC mayor o igual de 1.1 y menor o igual ...,Aguas para uso recreativo con contacto primari...
2,Aceptable,COLI_FEC mayor de 200 y menor o igual a 1000,Aguas con calidad admisible como fuente de aba...
3,Contaminada,COLI_FEC mayor de 1000 y menor o igual a 10000,Aguas con contaminacion bacteriologica. Indic...
4,Fuertemente contaminada,COLI_FEC mayor de 10000,Aguas con fuerte contaminacion bacteriologica....

In [126]:
dfEscalasSubterranea.describe()

,CALIDAD DEL AGUA PARA COLIFORMES FECALES_subterraneas,CRITERIO,DESCRIPCION
count,66,66,66
unique,47,52,29
top,Potable - Excelente,CRITERIO,DESCRIPCION
freq,8,14,14

In [127]:
dfCalidadSubterranea.head()

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,ACUIFERO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DUR,CUMPLE_CON_CF,CUMPLE_CON_NO3,CUMPLE_CON_AS,CUMPLE_CON_CD,CUMPLE_CON_CR,CUMPLE_CON_HG,CUMPLE_CON_PB,CUMPLE_CON_MN,CUMPLE_CON_FE
0,DLAGU6,POZO SAN GIL,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,ASIENTOS,VALLE DE CHICALOTE,POZO,-102.02210,22.20887,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
1,DLAGU6516,POZO R013 CAÑADA HONDA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,AGUASCALIENTES,VALLE DE CHICALOTE,POZO,-102.20075,21.99958,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
2,DLAGU7,POZO COSIO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,COSIO,VALLE DE AGUASCALIENTES,POZO,-102.28801,22.36685,2020,...,SI,SI,SI,NO,SI,SI,SI,SI,SI,SI
3,DLAGU9,POZO EL SALITRILLO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,VALLE DE AGUASCALIENTES,POZO,-102.29449,22.18435,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
4,DLBAJ107,RANCHO EL TECOLOTE,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LA PAZ,TODOS SANTOS,POZO,-110.24480,23.45138,2020,...,SI,SI,NO,SI,SI,SI,SI,SI,SI,SI

In [128]:
dfCalidadSubterranea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 57 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   PERIODO               1068 non-null   int64
 10  ALC_mg/L              1064 non-null   float64
 11  CALIDAD_ALC           1064 non-null   object
 12  CONDUCT_mS/cm         1062 non-null   float64
 13  CALIDAD_CONDUC        1062 non-null   object
 14  SDT_mg/L              0 non-null      float64
 15  SDT_M_mg/L            1066 non-null   object
 16  CALIDAD_SDT_ra        1066 non-null   object
 17  CALIDAD_SDT_salin     1066 non-null   object
 18  FLUORUROS_mg/L        1068 non-null   object
 19  CALIDAD_FLUO          1068 non-null   object
 20  DUR_mg/L              1067 non-null   object
 21  CALIDAD_DUR           1067 non-null   object
 22  COLI_FEC_NMP/100_mL   1068 non-null   object
 23  CALIDAD_COLI_FEC      1068 non-null   object
 24  N_NO3_mg/L            1067 non-null   object
 25  CALIDAD_N_NO3         1067 non-null   object
 26  AS_TOT_mg/L           1068 non-null   object
 27  CALIDAD_AS            1068 non-null   object
 28  CD_TOT_mg/L           1068 non-null   object
 29  CALIDAD_CD            1068 non-null   object
 30  CR_TOT_mg/L           1068 non-null   object
 31  CALIDAD_CR            1068 non-null   object
 32  HG_TOT_mg/L           1068 non-null   object
 33  CALIDAD_HG            1068 non-null   object
 34  PB_TOT_mg/L           1068 non-null   object
 35  CALIDAD_PB            1068 non-null   object
 36  MN_TOT_mg/L           1068 non-null   object
 37  CALIDAD_MN            1068 non-null   object
 38  FE_TOT_mg/L           1068 non-null   object
 39  CALIDAD_FE            1068 non-null   object
 40  SEMAFORO              1068 non-null   object
 41  CONTAMINANTES         634 non-null    object
 42  CUMPLE_CON_ALC        1068 non-null   object
 43  CUMPLE_CON_COND       1068 non-null   object
 44  CUMPLE_CON_SDT_ra     1068 non-null   object
 45  CUMPLE_CON_SDT_salin  1068 non-null   object
 46  CUMPLE_CON_FLUO       1068 non-null   object
 47  CUMPLE_CON_DUR        1068 non-null   object
 48  CUMPLE_CON_CF         1068 non-null   object
 49  CUMPLE_CON_NO3        1068 non-null   object
 50  CUMPLE_CON_AS         1068 non-null   object
 51  CUMPLE_CON_CD         1068 non-null   object
 52  CUMPLE_CON_CR         1068 non-null   object
 53  CUMPLE_CON_HG         1068 non-null   object
 54  CUMPLE_CON_PB         1068 non-null   object
 55  CUMPLE_CON_MN         1068 non-null   object
 56  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(5), int64(1), object(51)
memory usage: 475.7+ KB

In [129]:
dfCalidadSubterranea.isna().sum()

CLAVE                      0
SITIO                      0
ORGANISMO_DE_CUENCA        0
ESTADO                     0
MUNICIPIO                  0
ACUIFERO                   0
SUBTIPO                    0
LONGITUD                   0
LATITUD                    0
PERIODO                    0
ALC_mg/L                   4
CALIDAD_ALC                4
CONDUCT_mS/cm              6
CALIDAD_CONDUC             6
SDT_mg/L                1068
SDT_M_mg/L                 2
CALIDAD_SDT_ra             2
CALIDAD_SDT_salin          2
FLUORUROS_mg/L             0
CALIDAD_FLUO               0
DUR_mg/L                   1
CALIDAD_DUR                1
COLI_FEC_NMP/100_mL        0
CALIDAD_COLI_FEC           0
N_NO3_mg/L                 1
CALIDAD_N_NO3              1
AS_TOT_mg/L                0
CALIDAD_AS                 0
CD_TOT_mg/L                0
CALIDAD_CD                 0
CR_TOT_mg/L                0
CALIDAD_CR                 0
HG_TOT_mg/L                0
CALIDAD_HG                 0
PB_TOT_mg/L                0
CALIDAD_PB                 0
MN_TOT_mg/L                0
CALIDAD_MN                 0
FE_TOT_mg/L                0
CALIDAD_FE                 0
SEMAFORO                   0
CONTAMINANTES            434
CUMPLE_CON_ALC             0
CUMPLE_CON_COND            0
CUMPLE_CON_SDT_ra          0
CUMPLE_CON_SDT_salin       0
CUMPLE_CON_FLUO            0
CUMPLE_CON_DUR             0
CUMPLE_CON_CF              0
CUMPLE_CON_NO3             0
CUMPLE_CON_AS              0
CUMPLE_CON_CD              0
CUMPLE_CON_CR              0
CUMPLE_CON_HG              0
CUMPLE_CON_PB              0
CUMPLE_CON_MN              0
CUMPLE_CON_FE              0
dtype: int64

#### Hacemos limpieza de algunas columnas que no tienen información:
- **SDT_mg/L** Siempre está vacía
- **PERIODO** solo tiene un valor *2020*
- **CLAVE** es un indentificador único por registro

In [130]:
# Borramoe SDT_mg/L porque siempre está vacía
dfCalidadSubterranea.drop(['SDT_mg/L', 'PERIODO', 'CLAVE'],axis=1,inplace=True)

In [131]:
dfCalidadSubterranea.isna().sum()

SITIO                     0
ORGANISMO_DE_CUENCA       0
ESTADO                    0
MUNICIPIO                 0
ACUIFERO                  0
SUBTIPO                   0
LONGITUD                  0
LATITUD                   0
ALC_mg/L                  4
CALIDAD_ALC               4
CONDUCT_mS/cm             6
CALIDAD_CONDUC            6
SDT_M_mg/L                2
CALIDAD_SDT_ra            2
CALIDAD_SDT_salin         2
FLUORUROS_mg/L            0
CALIDAD_FLUO              0
DUR_mg/L                  1
CALIDAD_DUR               1
COLI_FEC_NMP/100_mL       0
CALIDAD_COLI_FEC          0
N_NO3_mg/L                1
CALIDAD_N_NO3             1
AS_TOT_mg/L               0
CALIDAD_AS                0
CD_TOT_mg/L               0
CALIDAD_CD                0
CR_TOT_mg/L               0
CALIDAD_CR                0
HG_TOT_mg/L               0
CALIDAD_HG                0
PB_TOT_mg/L               0
CALIDAD_PB                0
MN_TOT_mg/L               0
CALIDAD_MN                0
FE_TOT_mg/L               0
CALIDAD_FE                0
SEMAFORO                  0
CONTAMINANTES           434
CUMPLE_CON_ALC            0
CUMPLE_CON_COND           0
CUMPLE_CON_SDT_ra         0
CUMPLE_CON_SDT_salin      0
CUMPLE_CON_FLUO           0
CUMPLE_CON_DUR            0
CUMPLE_CON_CF             0
CUMPLE_CON_NO3            0
CUMPLE_CON_AS             0
CUMPLE_CON_CD             0
CUMPLE_CON_CR             0
CUMPLE_CON_HG             0
CUMPLE_CON_PB             0
CUMPLE_CON_MN             0
CUMPLE_CON_FE             0
dtype: int64

In [132]:
###De las columnas que contienen nulos borrar registros con mas de 2 nulos,
# ¿Para qué?

col_lst = ['CONTAMINANTES', 'CALIDAD_N_NO3','N_NO3_mg/L','CALIDAD_DUR', 'DUR_mg/L', 'SDT_M_mg/L','CALIDAD_SDT_ra','CALIDAD_SDT_salin', 'ALC_mg/L','CALIDAD_ALC','CONDUCT_mS/cm','CALIDAD_CONDUC']

dfCalidadSubterranea.dropna(axis = 0, subset = col_lst, thresh=2, inplace = True)

In [133]:
dfCalidadSubterranea.isna().sum()

SITIO                     0
ORGANISMO_DE_CUENCA       0
ESTADO                    0
MUNICIPIO                 0
ACUIFERO                  0
SUBTIPO                   0
LONGITUD                  0
LATITUD                   0
ALC_mg/L                  4
CALIDAD_ALC               4
CONDUCT_mS/cm             6
CALIDAD_CONDUC            6
SDT_M_mg/L                2
CALIDAD_SDT_ra            2
CALIDAD_SDT_salin         2
FLUORUROS_mg/L            0
CALIDAD_FLUO              0
DUR_mg/L                  1
CALIDAD_DUR               1
COLI_FEC_NMP/100_mL       0
CALIDAD_COLI_FEC          0
N_NO3_mg/L                1
CALIDAD_N_NO3             1
AS_TOT_mg/L               0
CALIDAD_AS                0
CD_TOT_mg/L               0
CALIDAD_CD                0
CR_TOT_mg/L               0
CALIDAD_CR                0
HG_TOT_mg/L               0
CALIDAD_HG                0
PB_TOT_mg/L               0
CALIDAD_PB                0
MN_TOT_mg/L               0
CALIDAD_MN                0
FE_TOT_mg/L               0
CALIDAD_FE                0
SEMAFORO                  0
CONTAMINANTES           434
CUMPLE_CON_ALC            0
CUMPLE_CON_COND           0
CUMPLE_CON_SDT_ra         0
CUMPLE_CON_SDT_salin      0
CUMPLE_CON_FLUO           0
CUMPLE_CON_DUR            0
CUMPLE_CON_CF             0
CUMPLE_CON_NO3            0
CUMPLE_CON_AS             0
CUMPLE_CON_CD             0
CUMPLE_CON_CR             0
CUMPLE_CON_HG             0
CUMPLE_CON_PB             0
CUMPLE_CON_MN             0
CUMPLE_CON_FE             0
dtype: int64

### Ningún registro tiene más de 2 campos nulos.

In [134]:
### Categoricas y numéricas con nulos para imputar.

categoricas = ['CALIDAD_SDT_ra','CALIDAD_SDT_salin','CALIDAD_N_NO3','CALIDAD_DUR','CALIDAD_ALC','CALIDAD_CONDUC']

numericas = [ 'N_NO3_mg/L', 'DUR_mg/L', 'SDT_M_mg/L', 'ALC_mg/L','CONDUCT_mS/cm',]

####'CONTAMINANTES'?????

In [135]:
dfCalidadSubterranea['DUR_mg/L']

0        213.732
1       185.0514
2        120.719
3        199.879
4       476.9872
          ...
1063     752.096
1064         273
1065    660.2126
1066     406.368
1067     362.544
Name: DUR_mg/L, Length: 1068, dtype: object

In [136]:
###convertimos datos no numericos.

dfCalidadSubterranea.loc[ dfCalidadSubterranea['FLUORUROS_mg/L'] == '<0.2', 'FLUORUROS_mg/L'] = 0.2

dfCalidadSubterranea.loc[ dfCalidadSubterranea['COLI_FEC_NMP/100_mL'] == '<1.1', 'COLI_FEC_NMP/100_mL'] = 1.1

dfCalidadSubterranea.loc[ dfCalidadSubterranea['AS_TOT_mg/L'] == '<0.01', 'AS_TOT_mg/L'] = 0.01

dfCalidadSubterranea.loc[ dfCalidadSubterranea['CD_TOT_mg/L'] == '<0.003', 'CD_TOT_mg/L'] = 0.003

dfCalidadSubterranea.loc[ dfCalidadSubterranea['CR_TOT_mg/L'] == '<0.005', 'CR_TOT_mg/L'] = 0.005

dfCalidadSubterranea.loc[ dfCalidadSubterranea['HG_TOT_mg/L'] == '<0.0005', 'HG_TOT_mg/L'] = 0.0005

dfCalidadSubterranea.loc[ dfCalidadSubterranea['PB_TOT_mg/L'] == '<0.005', 'PB_TOT_mg/L'] = 0.005

dfCalidadSubterranea.loc[ dfCalidadSubterranea['MN_TOT_mg/L'] == '<0.0015', 'MN_TOT_mg/L'] = 0.0015




dfCalidadSubterranea.loc[ dfCalidadSubterranea['N_NO3_mg/L'] == '<0.02', 'N_NO3_mg/L'] = 0.02

dfCalidadSubterranea.loc[ dfCalidadSubterranea['DUR_mg/L'] == '<20', 'DUR_mg/L'] = 20

dfCalidadSubterranea.loc[ dfCalidadSubterranea['SDT_M_mg/L'] == '<25', 'SDT_M_mg/L'] = 25

dfCalidadSubterranea['N_NO3_mg/L'] = dfCalidadSubterranea['N_NO3_mg/L'].astype(float)

dfCalidadSubterranea['DUR_mg/L'] = dfCalidadSubterranea['DUR_mg/L'].astype(float)

dfCalidadSubterranea['SDT_M_mg/L'] = dfCalidadSubterranea['SDT_M_mg/L'].astype(float)


dfCalidadSubterranea['FLUORUROS_mg/L'] = dfCalidadSubterranea['FLUORUROS_mg/L'].astype(float)
dfCalidadSubterranea['COLI_FEC_NMP/100_mL'] = dfCalidadSubterranea['COLI_FEC_NMP/100_mL'].astype(float)
dfCalidadSubterranea['AS_TOT_mg/L'] = dfCalidadSubterranea['AS_TOT_mg/L'].astype(float)
dfCalidadSubterranea['CD_TOT_mg/L'] = dfCalidadSubterranea['CD_TOT_mg/L'].astype(float)
dfCalidadSubterranea['CR_TOT_mg/L'] = dfCalidadSubterranea['CR_TOT_mg/L'].astype(float)
dfCalidadSubterranea['HG_TOT_mg/L'] = dfCalidadSubterranea['HG_TOT_mg/L'].astype(float)

dfCalidadSubterranea['PB_TOT_mg/L'] = dfCalidadSubterranea['PB_TOT_mg/L'].astype(float)
dfCalidadSubterranea['MN_TOT_mg/L'] = dfCalidadSubterranea['MN_TOT_mg/L'].astype(float)

In [137]:
dfCalidadSubterranea.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1068 entries, 0 to 1067
Data columns (total 54 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SITIO                 1068 non-null   object
 1   ORGANISMO_DE_CUENCA   1068 non-null   object
 2   ESTADO                1068 non-null   object
 3   MUNICIPIO             1068 non-null   object
 4   ACUIFERO              1068 non-null   object
 5   SUBTIPO               1068 non-null   object
 6   LONGITUD              1068 non-null   float64
 7   LATITUD               1068 non-null   float64
 8   ALC_mg/L              1064 non-null   float64
 9   CALIDAD_ALC           1064 non-null   object
 10  CONDUCT_mS/cm         1062 non-null   float64
 11  CALIDAD_CONDUC        1062 non-null   object
 12  SDT_M_mg/L            1066 non-null   float64
 13  CALIDAD_SDT_ra        1066 non-null   object
 14  CALIDAD_SDT_salin     1066 non-null   object
 15  FLUORUROS_mg/L        1068 non-null   float64
 16  CALIDAD_FLUO          1068 non-null   object
 17  DUR_mg/L              1067 non-null   float64
 18  CALIDAD_DUR           1067 non-null   object
 19  COLI_FEC_NMP/100_mL   1068 non-null   float64
 20  CALIDAD_COLI_FEC      1068 non-null   object
 21  N_NO3_mg/L            1067 non-null   float64
 22  CALIDAD_N_NO3         1067 non-null   object
 23  AS_TOT_mg/L           1068 non-null   float64
 24  CALIDAD_AS            1068 non-null   object
 25  CD_TOT_mg/L           1068 non-null   float64
 26  CALIDAD_CD            1068 non-null   object
 27  CR_TOT_mg/L           1068 non-null   float64
 28  CALIDAD_CR            1068 non-null   object
 29  HG_TOT_mg/L           1068 non-null   float64
 30  CALIDAD_HG            1068 non-null   object
 31  PB_TOT_mg/L           1068 non-null   float64
 32  CALIDAD_PB            1068 non-null   object
 33  MN_TOT_mg/L           1068 non-null   float64
 34  CALIDAD_MN            1068 non-null   object
 35  FE_TOT_mg/L           1068 non-null   object
 36  CALIDAD_FE            1068 non-null   object
 37  SEMAFORO              1068 non-null   object
 38  CONTAMINANTES         634 non-null    object
 39  CUMPLE_CON_ALC        1068 non-null   object
 40  CUMPLE_CON_COND       1068 non-null   object
 41  CUMPLE_CON_SDT_ra     1068 non-null   object
 42  CUMPLE_CON_SDT_salin  1068 non-null   object
 43  CUMPLE_CON_FLUO       1068 non-null   object
 44  CUMPLE_CON_DUR        1068 non-null   object
 45  CUMPLE_CON_CF         1068 non-null   object
 46  CUMPLE_CON_NO3        1068 non-null   object
 47  CUMPLE_CON_AS         1068 non-null   object
 48  CUMPLE_CON_CD         1068 non-null   object
 49  CUMPLE_CON_CR         1068 non-null   object
 50  CUMPLE_CON_HG         1068 non-null   object
 51  CUMPLE_CON_PB         1068 non-null   object
 52  CUMPLE_CON_MN         1068 non-null   object
 53  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(15), object(39)
memory usage: 458.9+ KB

In [138]:
for key in numericas:
    mean_value=dfCalidadSubterranea[key].mean()
    dfCalidadSubterranea[key].fillna(value=mean_value, inplace=True)

for key2 in categoricas:
    mode=dfCalidadSubterranea[key2].mode()
    #print(mode)
    dfCalidadSubterranea[key2].fillna(value=mode.to_string(), inplace=True)

In [139]:
dfCalidadSubterranea.isna().sum()

SITIO                     0
ORGANISMO_DE_CUENCA       0
ESTADO                    0
MUNICIPIO                 0
ACUIFERO                  0
SUBTIPO                   0
LONGITUD                  0
LATITUD                   0
ALC_mg/L                  0
CALIDAD_ALC               0
CONDUCT_mS/cm             0
CALIDAD_CONDUC            0
SDT_M_mg/L                0
CALIDAD_SDT_ra            0
CALIDAD_SDT_salin         0
FLUORUROS_mg/L            0
CALIDAD_FLUO              0
DUR_mg/L                  0
CALIDAD_DUR               0
COLI_FEC_NMP/100_mL       0
CALIDAD_COLI_FEC          0
N_NO3_mg/L                0
CALIDAD_N_NO3             0
AS_TOT_mg/L               0
CALIDAD_AS                0
CD_TOT_mg/L               0
CALIDAD_CD                0
CR_TOT_mg/L               0
CALIDAD_CR                0
HG_TOT_mg/L               0
CALIDAD_HG                0
PB_TOT_mg/L               0
CALIDAD_PB                0
MN_TOT_mg/L               0
CALIDAD_MN                0
FE_TOT_mg/L               0
CALIDAD_FE                0
SEMAFORO                  0
CONTAMINANTES           434
CUMPLE_CON_ALC            0
CUMPLE_CON_COND           0
CUMPLE_CON_SDT_ra         0
CUMPLE_CON_SDT_salin      0
CUMPLE_CON_FLUO           0
CUMPLE_CON_DUR            0
CUMPLE_CON_CF             0
CUMPLE_CON_NO3            0
CUMPLE_CON_AS             0
CUMPLE_CON_CD             0
CUMPLE_CON_CR             0
CUMPLE_CON_HG             0
CUMPLE_CON_PB             0
CUMPLE_CON_MN             0
CUMPLE_CON_FE             0
dtype: int64

In [140]:
dfCalidadSubterranea['CALIDAD_CONDUC']

0       Permisible para riego
1            Buena para riego
2            Buena para riego
3            Buena para riego
4       Permisible para riego
                ...
1063        Dudosa para riego
1064         Buena para riego
1065        Dudosa para riego
1066    Permisible para riego
1067    Permisible para riego
Name: CALIDAD_CONDUC, Length: 1068, dtype: object

In [141]:
#### de una vez normalizamos?
## No nos conviene normalizar todavia porque si hay algun rango o umbral se va a perder el valor
#
#numeric_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='median')), ('scaler', MinMaxScaler())])
#categorical_transformer = Pipeline(
#    steps=[('imputer', SimpleImputer(strategy='most_frequent'))])
#
#transformer = ColumnTransformer(
#    transformers=[
#        ('Numericas', numeric_transformer, numericas),
#        ('Categoricas', categorical_transformer, categoricas)
#    ],
#    remainder='passthrough'
#)

In [142]:
###Revisamos de nuevo cuantos nulos hay

dfCalidadSubterranea.isna().sum()

SITIO                     0
ORGANISMO_DE_CUENCA       0
ESTADO                    0
MUNICIPIO                 0
ACUIFERO                  0
SUBTIPO                   0
LONGITUD                  0
LATITUD                   0
ALC_mg/L                  0
CALIDAD_ALC               0
CONDUCT_mS/cm             0
CALIDAD_CONDUC            0
SDT_M_mg/L                0
CALIDAD_SDT_ra            0
CALIDAD_SDT_salin         0
FLUORUROS_mg/L            0
CALIDAD_FLUO              0
DUR_mg/L                  0
CALIDAD_DUR               0
COLI_FEC_NMP/100_mL       0
CALIDAD_COLI_FEC          0
N_NO3_mg/L                0
CALIDAD_N_NO3             0
AS_TOT_mg/L               0
CALIDAD_AS                0
CD_TOT_mg/L               0
CALIDAD_CD                0
CR_TOT_mg/L               0
CALIDAD_CR                0
HG_TOT_mg/L               0
CALIDAD_HG                0
PB_TOT_mg/L               0
CALIDAD_PB                0
MN_TOT_mg/L               0
CALIDAD_MN                0
FE_TOT_mg/L               0
CALIDAD_FE                0
SEMAFORO                  0
CONTAMINANTES           434
CUMPLE_CON_ALC            0
CUMPLE_CON_COND           0
CUMPLE_CON_SDT_ra         0
CUMPLE_CON_SDT_salin      0
CUMPLE_CON_FLUO           0
CUMPLE_CON_DUR            0
CUMPLE_CON_CF             0
CUMPLE_CON_NO3            0
CUMPLE_CON_AS             0
CUMPLE_CON_CD             0
CUMPLE_CON_CR             0
CUMPLE_CON_HG             0
CUMPLE_CON_PB             0
CUMPLE_CON_MN             0
CUMPLE_CON_FE             0
dtype: int64

### Grabamos los datos limpios

In [143]:
outPath = '../Reto/datos/Escalas_subterranea_clean.csv'
dfCalidadSubterranea.to_csv(outPath)