### Semana 3 - Actividad 1
### Limpieza de datos

Lázaro Lara Martínez.
Matricula A01793198

Ciencia y Analítica de datos.

Profesor Titular.
Jobish Vallikavungal Devassia

Profesor Tutor.
Mtro. Mario Alberto Solano Saldaña

01/Octubre/2022

### Fundamentos de bases de datos y para ciencia de datos.

¿Qué es una base de datos?:

Es un software capaz de almacenar gran cantidad de datos que tienen relación entre sí y están estructurados. Sus datos pueden ser consultados rápidamente utilizado un lenguaje estructurado de consultas llamado SQL. En una base de datos existen diferentes tipos de objetos como son tablas las cuales contienen columnas, filas y celdas.
Los registros en una tabla son los renglones los cuales contienen diferentes campos o columnas, las celdas contienen un dato de dicha columna y renglón.
También existen vistas las cuales pueden unir lógicamente diferentes tablas, índices para hacer más rápidas las consultas, triggers para ejecutar acciones antes o después de insertar, actualizar o borrar datos y constraints para restringir el contenido de los datos.

Existen distintas aplicaciones para las bases de datos como bancos, aerolíneas, universidades, ventas, tiendas en línea, RH etc.

Las Bases de datos más utilizadas son, Oracle MySQL, PostgreSQL y MS SQL Server.

¿Qué es un Data Warehouse?

Es un almacenamiento de datos que permite a las empresas comprender y utilizar sus datos para tomar decisiones estratégicas, los datos se recopilan y transforman desde diferentes sistemas en una sola base de datos que será utilizada solo para este fin.

La limpieza de datos implica observar más de cerca los problemas en los datos que ha seleccionado incluir en el análisis.

### Problema de datos

### Se importan las librerías Pandas y numpy

In [1]:
import pandas as pd
import numpy as np

Podemos crear un base de datos (DataFrame):

Se crean los datos de prueba en un tipo de dato dict, el cual en python es una estructura hash table key:value

In [58]:
x = {'Company': ['Ford', 'Ford', 'VW', 'BMW', 'Cooper', 'Cooper'], 
     'Stars' : [1, 2, np.nan, 2, 1, 1], 
     'Weight' : [2, 4, 2, 2, 3, None], 
     'Origin' : ['China', 'Mexico', 'Mexico', None, 'China', np.nan], 
     'Length': [40, 50, 30, np.nan, 45, pd.NaT]
}

print(type(x))
print(x)

<class 'dict'>
{'Company': ['Ford', 'Ford', 'VW', 'BMW', 'Cooper', 'Cooper'], 'Stars': [1, 2, nan, 2, 1, 1], 'Weight': [2, 4, 2, 2, 3, None], 'Origin': ['China', 'Mexico', 'Mexico', None, 'China', nan], 'Length': [40, 50, 30, nan, 45, NaT]}

A partir del dict se crea un dataframe de Pandas.

In [3]:
df  = pd.DataFrame(data = x)
df

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    NaN     2.0  Mexico     30
3     BMW    2.0     2.0    None    NaN
4  Cooper    1.0     3.0   China     45
5  Cooper    1.0     NaN     NaN    NaT

Se guarda el Data frame en un archivo CSV.

In [4]:
df.to_csv('data.csv')

Se lee el archivo creado y el resultado se guarda en un dataframe.

In [6]:
df = pd.read_csv('data.csv', index_col=0)
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Existen diferentes formas de verificar si falta un dato entre ellas, la siguente línea que muestra un resultado Verdadero.

In [7]:
df.isnull().values.any()

True

Se muestran un resumen de todas las columnas a las que les falta un dato

In [8]:
df.isnull().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

Ambas funciones isna() e isnull() son usadas para encontrar datos faltantes en un dataframe de pandas.

In [9]:
df.isna().values.any()

True

In [10]:
df.isna().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

In [11]:
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

### Solución 1:

Elimina los datos faltantes. y se vuelve a buscar si falta algún dato, esta vez regresa falso, ya que se eliminaron los registros que les falta algo.

In [12]:
df.dropna(inplace = True)

In [13]:
df.isna().values.any()

False

In [14]:
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
4  Cooper    1.0     3.0   China    45.0

Se eliminó todo aun que solo haya faltado 1 dato.

Para limpiar datos de una forma diferente, volvemos a leer todo desde el archivo y lko asignamos al dataframe.

In [15]:
df = pd.read_csv('data.csv', index_col=0)
df.isna().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

In [ ]:
Se copia el dataframe a una nuvea variable.

In [16]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Esta línea quita las columnas donde falta al menos 1 dato y el resultado se muestra a continuación.

In [17]:
ndf.dropna(axis = 1, inplace = True) # axis 1 is columns / axis 0 is rows. 
ndf

  Company
0    Ford
1    Ford
2      VW
3     BMW
4  Cooper
5  Cooper

Se vuelven a cargar los datos del dataframe original.

In [18]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Se eliminan los datos donde falta todo.

In [19]:
ndf.dropna(how='all', inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Alternativamente: usamos Threshold. 

Mantenga solo las filas con al menos 2 valores que  **NO SEAN** `nan`

In [20]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Se eliminan los registros donde falten al menos 4 campos.

In [21]:
ndf.dropna(thresh=4, inplace = True) # In a row, it needs at least 4 nan values is needed, to maintain in df
ndf # in case of column  add   axis=1

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
4  Cooper    1.0     3.0   China    45.0

Defina en qué columnas buscar valores faltantes.

In [22]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Con este threshold se eliminan las columnas que no tienen al menos 5 valores, en este caso se eliminan origin y length, ya que solo hay 4 valores.

In [59]:
ndf.dropna(thresh = 5,  #if there is not 5 nan values, the column will be eliminated 
           axis = 1, 
           inplace = True
           ) 
ndf

  Company  Stars  Weight
0    Ford    1.0     2.0
1    Ford    2.0     4.0
2      VW    NaN     2.0
3     BMW    2.0     2.0
4  Cooper    1.0     3.0
5  Cooper    1.0     NaN

### Solucion 2:

Se copian de nuevo los datos originales a dataframe ndf y se calcula la media al campo Weight.

In [61]:
ndf = df.copy()

In [62]:
wm = ndf.Weight.mean()
wm

2.6

Se le asigna el valor de la media a los datos vacíos del campo weight.

In [63]:
ndf['Weight'].fillna(value = wm, 
                    inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     2.6     NaN     NaN

[Datos faltantes: dos grandes problemas con la imputación media](https://www.theanalysisfactor.com/mean-imputation/)

En la columna Length aw llenan los datos faltantes con la mediana.

ndf['Length'].fillna(value = ndf.Length.median(), 
                    inplace = True)
ndf

Se encuentra la moda de la columna origen. En este caso en Mexico y China.

In [65]:
mm  = ndf.Origin.mode()
mm

0     China
1    Mexico
Name: Origin, dtype: object

Se selecciona el indice 1

In [ ]:
mm[1]

Se agrega Mexico en los a los datos faltantes.

In [67]:
ndf['Origin'].fillna(value = mm[1], #'NoPais', 
                    inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0  Mexico    42.5
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     2.6  Mexico    42.5

In [68]:
ndf.isnull().values.any()

True

Copiamos nuevamente los datos originales a la variable ndf.

In [69]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Se remueven rengles si alguna columna en específico tiene datos nulos, en este caso se eliminan renglones 3 y 5 por que no tienen valores las columnas Origin y length.

In [70]:
ndf.dropna(subset=['Origin', 'Length'], inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
4  Cooper    1.0     3.0   China    45.0

In [33]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

En este caso a continuación, se llenará la columna Origin con el valor China.

In [34]:
ndf.Origin.mode()[0]

'China'

In [35]:
favs = {'Origin': ndf.Origin.mode()[0], 'Length': ndf['Length'].mean()}

In [36]:
ndf.Origin.fillna(ndf.Origin.mode()[0], inplace=True)
ndf.Length.fillna(ndf.Length.mean(), inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China   40.00
1    Ford    2.0     4.0  Mexico   50.00
2      VW    NaN     2.0  Mexico   30.00
3     BMW    2.0     2.0   China   41.25
4  Cooper    1.0     3.0   China   45.00
5  Cooper    1.0     NaN   China   41.25

## ¿Cuándo es una mediana mejor en comparación con la media?

La media se utiliza para distribuciones normales de números, con una cantidad baja de valores atípicos.
La mediana se usa generalmente para devolver la tendencia central en el caso de distribuciones numéricas sesgadas.

La siguiente línea crea un diccionario con datos de salario y un dato en específico muy alejado de los demás.

In [ ]:
data = {'Salary':  [28, 30, 30, 35, 37, 40, 400]
}
adf = pd.DataFrame(data)
adf

En este caso la media (85) está muy alejada de la mayoría de los valores, por lo tanto es mejor utilizar la mediana 35.

In [38]:
adf.describe()

           Salary
count    7.000000
mean    85.714286
std    138.653903
min     28.000000
25%     30.000000
50%     35.000000
75%     38.500000
max    400.000000

### Para seleccionar las columnas de la base de datos, puede usar la siguiente codigos:

In [40]:
df = pd.read_csv('data.csv', index_col=0)
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

** Syntaxis ** de loc & iloc

* loc : If you use, `loc`, use the `names`

> df.`loc` [ row-start:row-end,  column-start:column_end]  



* iloc : If you use, `loc`, use the `indices`

> df.`iloc` [row-start:row-end, column-start:columnEnd]

Selecciona los nombres de las columnas

In [41]:
ndf.columns

Index(['Company', 'Stars', 'Weight', 'Origin', 'Length'], dtype='object')

Ordena las columnas alfabéticamente.

In [42]:
ndf.columns.sort_values()

Index(['Company', 'Length', 'Origin', 'Stars', 'Weight'], dtype='object')

Selecciona los registros del 2 al 5, campos desde Company hasta Origin.

In [43]:
ndf.loc[2:5 , 'Company':'Origin']  # rows 2 to 5, columns  'Company' to 'Origin'

  Company  Stars  Weight  Origin
2      VW    NaN     2.0  Mexico
3     BMW    2.0     2.0     NaN
4  Cooper    1.0     3.0   China
5  Cooper    1.0     NaN     NaN

Con la lista favs, seleccionamos los registros del 2 al 5.

In [44]:
favs = ['Stars', 'Weight', 'Origin']

In [45]:
ndf.loc[2:5 , favs]

   Stars  Weight  Origin
2    NaN     2.0  Mexico
3    2.0     2.0     NaN
4    1.0     3.0   China
5    1.0     NaN     NaN

In [ ]:
Con iloc solo se pueden usar indices, asi se seleccionan los registros del 2 al 4, usando una lista de que campos regresar.

In [46]:
ndf.iloc[2:5, [1,2, 3]] # iloc  - so, indices

   Stars  Weight  Origin
2    NaN     2.0  Mexico
3    2.0     2.0     NaN
4    1.0     3.0   China

Se imprime en pantalla todos los nombres de las columnas.

In [47]:
ndf.columns

Index(['Company', 'Stars', 'Weight', 'Origin', 'Length'], dtype='object')

In [48]:
for i in ndf.columns:
  print(i)

Company
Stars
Weight
Origin
Length

Se selecionan los primeros 4 registros del dataframe.

In [49]:
ndf.head(4)

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN

Seleccionamos todos los diferentes valores del campo Company.

In [50]:
ndf.Company.unique()

array(['Ford', 'VW', 'BMW', 'Cooper'], dtype=object)

Se agrupan los datos por Compañía y origen y se regresa el count. Similar a un count group by de sql. Se obtiene el mismo resultado con groupby y size() que con value_counts.

In [51]:
df.groupby(['Company', 'Origin']).size()

Company  Origin
Cooper   China     1
Ford     China     1
         Mexico    1
VW       Mexico    1
dtype: int64

In [52]:
df[['Company', 'Origin']].value_counts()

Company  Origin
Cooper   China     1
Ford     China     1
         Mexico    1
VW       Mexico    1
dtype: int64

### Eliminar columns / Cambiar nombre de las columns

In [74]:
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
4  Cooper    1.0     3.0   China    45.0

Se removuen las columnas Stars y Origin.

In [75]:
ndf2 = ndf.drop(['Stars', 'Origin',], axis = 1)
ndf2

  Company  Weight  Length
0    Ford     2.0    40.0
1    Ford     4.0    50.0
2      VW     2.0    30.0
4  Cooper     3.0    45.0

Se usa rename para cambiar el nombre de las columnas

In [76]:
ndf2.rename(columns = {'Company' : 'Empresa', 'Weight': 'Peso'}, inplace = True)
ndf2

  Empresa  Peso  Length
0    Ford   2.0    40.0
1    Ford   4.0    50.0
2      VW   2.0    30.0
4  Cooper   3.0    45.0

## Datos perdidos - Tener en cuenta

* Excluya las filas o características. 
* Cumpliméntelas con un valor estimado.

Errores de datos	Utilice recursos lógicos para descubrir errores manuales y corríjalos. O, excluya las características.

Incoherencias de codificación	Decida un esquema de codificación simple y convierta y sustituya los valores.

Metadatos perdidos o erróneos	Examine manualmente los campos sospechosos y compruebe el significado correcto.

# Crear un informe de limpieza de datos


Registrar sus actividades de limpieza de datos es esencial para registrar las modificaciones de los datos. 

Los futuros proyectos de minería de datos se beneficiarán de los detalles del trabajo disponible.


Es una excelente idea considerar las siguientes cuestiones cuando genere el informe:


* ¿Qué tipos de ruido se han producido en los datos?
* ¿Qué métodos utiliza para eliminar el ruido? 
    
    > ¿Qué técnicas han demostrado ser eficaces?

* ¿Existen casos o atributos que no se pueden recuperar? 
> Asegúrese de registrar los datos que se han excluido por causas del ruido.

### Limpieza de datos propuesta:

Primero obtenemos los datos frescos desde el archivo csv
Y mostramos los primeros 5 renglones.

In [134]:
ndf = pd.read_csv('/Users/lazaro/PycharmProjects/actividades-de-aprendizaje-llaramtz/Semana-3-Actividad-1/default_of_credit_card_clients.csv', index_col=0)
ndf.head(5)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

La primera columna con datos vacios es Star asi que obtengo la moda para asignarla a los valores faltantes, ya que la mediana es 1.33 y no tiene sentido con el resto de la información.

In [123]:
ndf.Stars.mode()[0]

1.0

In [124]:
ndf.Stars.fillna(ndf.Stars.mode()[0], inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    1.0     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Al peso se le puede asignar la media, buscar un valor lógico.
Existe otro registro Cooper, que tiene un peso de 3 entonces a todos los Cooper sin peso se les puede asignar 3.
En este caso solo existe un valor vacío asi que se puede asignar manualmente.

In [125]:
ndf.Weight.mean()

2.6

In [126]:
ndf.Weight.fillna(3, inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    1.0     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     3.0     NaN     NaN

Para el campo Origen existen 2 valores nulos, Renglón 3 BMW y Renglón 5 Cooper.
La moda es China o Mexico, como existe el valor Cooper de origen China en el renglón 4 podemos asignar el valor china a los nulos en lugar de Mexico.

In [127]:
ndf.Origin.mode()

0     China
1    Mexico
Name: Origin, dtype: object

In [128]:
ndf.Origin.fillna(ndf.Origin.mode()[0], inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    1.0     2.0  Mexico    30.0
3     BMW    2.0     2.0   China     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     3.0   China     NaN

Analizando los valores de Length también podemos asignar al renglón 5 el valor de 45, ya que ese dato ya existe.
y debido a que el renglón 3 de BMW tiene mucha información faltante creo que sería mejor removerlo que inventar datos que no podemos deducir con la información existente.

In [129]:
ndf = ndf.drop(ndf.index[3])
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    1.0     2.0  Mexico    30.0
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     3.0   China     NaN

In [130]:
ndf.Length.mode().describe

<bound method NDFrame.describe of 0    30.0
1    40.0
2    45.0
3    50.0
Name: Length, dtype: float64>

Y por último llenamos los datos faltantes con 45, porque el cooper existente mide 45.

In [132]:
ndf.Length.fillna(45, inplace=True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    1.0     2.0  Mexico    30.0
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     3.0   China    45.0

El resultado es la tabla de arriba con todos los datos completos. que fue posible deducir en base a la información existente.

### Sección 3

1. ¿Qué datos considero más importantes?
    Para mi todos los datos tienen su relevancia, el poder responder cuál es mas importante dependería de que se necesita hacer con ellos desde el punto de vista del negocio dicho esto el dato de compañía ayudo a deducir algunos faltantes de información junto con el origen.

2. ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?

    Se reemplazó el dato nulo en el campo Stars con 1 a partir del cálculo de la moda, ya que la media es fracción y todos los demás son enteros.

    También se reemplazó 1 peso faltante en el renglón 5 por 45, basado en el valor existente del renglón 4.

    Se eliminó el renglón de la compañía BWM, ya que los datos faltantes no se pudieron sacar de los existentes.

   Por último el valor del peso faltante se llenó a partir de la información existente y se asignó 45.

3. ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?
    No fue necesario en este ejercicio, ya que son muy pocos y se tiene toda la información concentrada a simple vista.

4. ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.

    No veo problemas con el formato de los datos sin tener más información del caso de uso. Todos los números están en como tipo numérico, y lo demás es str. Sería necesario alguna justificación desde el punto de vista del negocio para decidir a cerca del formato.

5. ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?

   Se agregaron datos faltantes y se removió el renglón de BMW, porque no fue posible rastrear los faltantes a partir de la información existente.
   También se podría haber eliminado el renglón 5 por todos los nulos que tenía, pero si fue posible reconstruirlo.